@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 244 23% 16%;
    --foreground: 0 0% 100%;
    --card: 244 23% 16%;
    --card-foreground: 0 0% 100%;
    --popover: 244 23% 16%;
    --popover-foreground: 0 0% 100%;
    --primary: 341 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 237 85% 83%;
    --secondary-foreground: 244 23% 16%;
    --muted: 240 9% 35%;
    --muted-foreground: 240 5% 65%;
    --accent: 240 9% 35%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 9% 25%;
    --input: 240 9% 25%;
    --ring: 237 85% 83%;
    --radius: 0.25rem;
  }

  .dark {
    --background: 244 23% 16%;
    --foreground: 0 0% 100%;
    --card: 244 23% 16%;
    --card-foreground: 0 0% 100%;
    --popover: 244 23% 16%;
    --popover-foreground: 0 0% 100%;
    --primary: 341 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 237 85% 83%;
    --secondary-foreground: 244 23% 16%;
    --muted: 240 9% 35%;
    --muted-foreground: 240 5% 65%;
    --accent: 240 9% 35%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 9% 25%;
    --input: 240 9% 25%;
    --ring: 237 85% 83%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 3px, 3px 100%;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
  p, div, span, label, button, input, textarea, a {
    @apply font-sans;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: hsl(var(--border));
    border-radius: 0;
  }
}